.container {
    position: relative;
    text-align: center;
    color: white;
    transition: all 0.5s ease-in-out;
    filter: drop-shadow(5px 5px 5px red);
    justify-content: center;
    align-items: center;
}
.container:hover .img{
    opacity: 0.8;
}
.container:hover .centered{
    position: absolute;
    top: 20%;
}
.container:hover .orderButton{
    position: absolute;
    opacity: 1;
}
.container:hover .priceButton{
    position: absolute;
    opacity: 1;
}
.img {
    transition: all 0.5s ease-in-out;
}
.centered {
    font-size: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.5s ease-in-out;
    text-shadow:
    -2px -2px 0 #000,  
    2px -2px 0 #000,
    -2px 2px 0 #000,
    2px 2px 0 #000;
}
.orderButton {
    font-size: 40px;
    position: absolute;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 20px;
    background-color: rgb(0, 0, 0);
    opacity: 0;
    transition: all 0.5s ease-in-out;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow:
        -1px -1px 0 #000,  
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
}
.orderButton:hover {
    background-color: rgb(1, 255, 1);
}
.priceButton {
    font-size: 40px;
    position: absolute;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 20px;
    background-color: rgb(0, 0, 0);
    opacity: 0;
    transition: all 0.5s ease-in-out;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow:
        -1px -1px 0 #000,  
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
    cursor: default;
}